html,body{
    height: 100%;
    margin: 0;
    background: #1c2541;
    color: white;
}
ul{
    justify-content: center;
    height: 100%;
}
li{
    padding: 140px;
   
}
aside{
    float: left;
    background: #3a506b;
}
section{
    float: none;
    display: flex;
    flex-direction: row;
}
.generalDiv{
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    margin: 15px;
    max-height: 200px;
    min-height: 200px;
    justify-content: space-around;
}
.generalAsisttance, .AtendanceLevels, .AnualAttendanceByLevels, .studentsByLevel, 
.generalCalcifications, .compareRatingsByCourse, .statusCommunications{
    background: #c4fff9;
    padding: 10px;
    border: 1px solid #ddd;
    height: 400px;
    margin: 20px;
    border-radius: 10px 10px;
}
.generalAsisttance{
    width: 300px ;
    display: flex;
   justify-content: center;
   align-content: center;
}
.AtendanceLevels{
    width: 600px ;
    display: flex;
    align-content: stretch;
}
.AnualAttendanceByLevels{
    width: 700px ;
    display: flex;
    align-content: stretch;
    
}
.studentsByLevel{
    width: 600px ;
    display: flex;
    align-content: stretch;
}
.generalCalcifications{
    width: 500px ;
    display: flex;
    align-content: stretch;
}
.compareRatingsByCourse{
    width: 600px ;
    padding: 10px;
    display: flex;
    align-content: stretch;
}
.statusCommunications{
    width: 1000px ;
    display: flex;
    align-content: stretch;
   
}